
// move left
@-webkit-keyframes moveLeft {
	0% { opacity:0;}
	100% { left:-40px; opacity:1;}
}

@keyframes moveLeft {
	0% { opacity:0;}
	100% { left:-40px; opacity:1;}
}

// move right
@-webkit-keyframes moveRight {
	0% { opacity:0;}
	100% { right:-40px; opacity:1;}
}

@keyframes moveRight {
	0% { opacity:0;}
	100% { right:-40px; opacity:1;}
}

// animate class
.fromtop{
	opacity:0;
	margin-top:-40px;
}
.frombottom{
	opacity:0;
	margin-top:40px;
}
.fromleft{
	opacity:0;
	margin-left:-30px;
}
.fromright{
	opacity:0;
	margin-left:20px;
}
.tonormal{
	opacity:1;
	margin:initial;
}
.toleft{
	opacity:1;
	left:-30px;
}
.toright{
	opacity:1;
	right:-30px;
}