
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    // letter-spacing: 1px;
    margin:10px 0 10px 0;
    padding:0 0 0 0;
}

h2 {
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    // color: white;
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: normal;    
    line-height: 25px;
    margin:12px 0 12px 0;
    padding:0 0 0 0;
}
h3 {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    margin:0 0 0 0;
    padding:0 0 0 0;
}
h4 {
    // color: white;
    font-size: 18px;
    font-weight: bold;
    // margin:0 0 0 0;
    // padding:0 0 0 0;
}
h5 {
    font-family: 'Open Sans', sans-serif;
    // color: $abuabutext2;
    font-size: 15px;
    font-weight: normal;
    margin:0 0 0 0;
    padding:0 0 0 0;
}
a.link,.link {
    text-decoration:none;
    // color: white;
    &:hover {
        // color: #7bb9f1;
    }
}
a {
    font-size: 12px;
    text-decoration: none;
    // color: white;
}
label{
    font-size: 12px;
    color:#000;
}
ul{
    padding:0;
    li{

    }
}
p {
    font-family: calibri;
    font-size: 18px;
    color:#fff;
    font-weight:100;    
    &.p--small {
        color: #848c94;
        font-size: 13px;
        line-height: 18px;
        margin: 3px 0;
    }
    &.info {
        font-family: calibri;
        font-size: 18px;
        font-weight:100;
        color:#fbfaaf;
        margin:5px 0;
    }
}
small {
    // font-family: 'MyriadPro-Regular';        
    // color: $creamtext1;
    font-size: 11px;
    // margin: 5px 0;
}
article {
    text-align: left;
    small.title--small{
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        color:#5b6681;
        letter-spacing: 1px;
        font-weight:700;
        text-align: center;
        margin:0 auto 10px auto;
        padding:0 20px 5px 20px;
        border-bottom:1px solid #dfe0e0;
    }
    small.date--small{
        color:#bcbec0;
        font-weight:600;        
        font-style: italic;
        margin:0 0.8em;
    }
    p {        
        font-size: 12px;
        color: #5e5f61;
        // line-height: 22px;
            .label--span{
                display: inline-block;
                // width:150px;
            }
    }
    ul{
        margin:0;
        padding: 0 0.6em;
        list-style-image: url('../images/triangle--list.png');
        li{
            margin:5px 0 5px 0;
            a{
                padding: 0 0 0.2px 0;
                p.alrightsans{
                    font-family: 'Open Sans', sans-serif;
                    line-height: 20px;
                    letter-spacing: 0.5px;
                    margin:0;                   
                }
            }
            p{                
                line-height: 17px;
                margin:0;
            }            
        }
    }
}



// CUSTOM TYPHOGRAPHY
article.article2{
    // display: inline-block;
    text-align: left;
    margin:0 0 5px 0;
    p.title__career{
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 1px;
        color:#212e4d;
    }
    p.desc__contact--p{
        color:#fff;
        font-size: 14px;
        line-height: 21px;
        margin:20px 0;
            a.desc__contact--a{
                color:#fff;
                font-size: 14px;
                &:hover{
                    text-decoration: underline;
                }
            }
    }    
    h1.desc__contact--h1,
    h1.desc__error--h1{
        // font-size:46.84px;
        // line-height: 56px;
        margin:23px 0;
    }
    h2{
       font-family: 'Open Sans', sans-serif;
        color:#5b6781;
        letter-spacing: 0.5px;
    }
    small{
        display:inline-block;
        line-height: 17px;
        color:#5e5f61;
    }
    p {        
        font-size: 13px;
        color: #5e5f61;
        line-height: 20px;
            .label--span{
                display: inline-block;
                // width:150px;
            }
    }    
    ul{
        margin:0;
        padding: 0;
        list-style: none;
        li{
            position: relative;
            list-style: none;
            margin:5px 0 5px 0;
            a{
                padding: 0 0 0.2px 0;
                p.alrightsans{
                    font-family: 'Open Sans', sans-serif;
                    line-height: 20px;
                    letter-spacing: 0.5px;
                    margin:0;                   
                }
            }
            p{                
                line-height: 17px;
                margin:0;
            }            
        }
        // li:before{
        //     position: absolute;
        //     content:".";
        //     font-size:26px;
        //     color:#5e5f61;
        //     line-height: 0;
        //     margin:0 0 0 -15px;
        // }
    }
}

article.article3{
    // display: inline-block;
    text-align: left;
    margin:0 0 5px 0;
    // padding:20px 40px;
    background:#fff;
    h5.desc__error--h5{
        color:#fff;
        // font-size:16px;
        // line-height: 21px;
        // margin:20px 0;
        color:#808283;
            a, a.desc__error--a{
                display: initial;
                color:#808283;
                // font-size: 16px;
            }
    }    
    h2.desc__error--h2{
        // font-size:24px;
        // line-height: 30px;
        letter-spacing:0;
        color:#5b6781;
        // margin:15px 0;
    }
}

article.article--career{
    display: inline-block;
    text-align: left;
    margin:0 0 5px 0;
    p.title__career{
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 1px;
        color:#212e4d;
        margin:0;
    }
    p {        
        font-size: 13px;
        color: #5e5f61;
        line-height: 20px;
            .label--span{
                display: inline-block;
                // width:150px;
            }
    } 
    ul{
        margin:0 1em;
        padding: 0;
        // list-style: none;
            li{
                position: relative;
                margin:5px 0 5px 0;
                font-size: 13px;
                color: #5e5f61;
                list-style: disc;
                // line-height: 20px;
                // &:after{
                //     font-family: 'lato-light';
                //     content:".";
                //     position:absolute;
                //     top: -23px;
                //     left:-9px;
                //     font-size: 38px;
                //     color:#5e5f61;
                // }
            }
    }
}

/** responsive **/

/* (0px above)----------- */
@media only screen 
and (min-width : 0px) {
}

/* (480px above)----------- */
@media only screen 
and (min-width : 480px) {
}

/* (768px above)----------- */
@media only screen 
and (min-width : 768px) {
}

/* (1024px above)----------- */
@media only screen 
and (min-width : 1024px) {   
}

/* (1360px above)----------- */
@media only screen 
and (min-width : 1360px) {  
}

/* (1440px above)----------- */
@media only screen 
and (min-width : 1440px) { 
}

