// home page

.pagination__page{
	position: fixed;
	top: 50%;
	@include transform (translate(-50%, -50%));
	right:25px;
	padding:5px;
	border-radius:10px;
	background: rgba(0,0,0,0.1);
	z-index:21;
		ul.pagination__page--ul{
				li.pagination__page--li{
					list-style: none;
						a{
							display: block;
							margin:8px 0;
							&:before{
								content:"";
								display: inherit;
								position:relative;
								border-radius:5px;
								width:10px;
								height:10px;
								color: #ff6633;
								background: #ff6633;

							}
						}
				}
				li.active{
						a{
							&:before{
								content:"";
								display: inherit;
								position:relative;
								border-radius:5px;
								width:10px;
								height:10px;
								color: #fff;
								background: #fff;

							}
						}
				}
		}
}
.ss__wrapper{
	position: relative !important;
	margin: 0 auto;
	// width: 960px;
	.ss__page__wrapper{
		position:absolute !important;
		width:100%;
		top:0;
		right:0;
		// padding-right:20px;
		.ss__page{
			position:relative;
			float:right;
			clear:both;
			width:350px;
			height:100vh; 
			background-attachment:fixed !important;
			// background-position: -92px !important;
				.ss__page1{
					position:relative;
					float:right;
					clear:both;
					width:350px;
					height:100vh; 
					background-attachment:fixed !important;
					// background-position: -92px !important;
					background:url("../images/frame_page1.png") repeat-x;
					z-index:2;					
				}
				.ss__page1__left{
					@include delay(0.6s all);
					@include transform (translateY(-50%));
					// -webkit-animation: moveLeft 0.5s ease forwards;
					// -moz-animation: moveLeft 0.5s ease forwards;
					// -o-animation: moveLeft 0.5s ease forwards;
					// animation: moveLeft 0.5s ease forwards;										
					top:50%;
					position:absolute;
					margin:auto;
					background:url("../images/frame_page1_left.png") no-repeat;
					width:206px;
					height:500px;
					z-index:1;
					&.left{
						opacity:0;
						left:40px;
					}
				}
				.ss__page1__right{
					@extend .ss__page1__left;					
					// -webkit-animation: moveRight 0.5s ease forwards;
					// -moz-animation: moveRight 0.5s ease forwards;
					// -o-animation: moveRight 0.5s ease forwards;
					// animation: moveRight 0.5s ease forwards;					
					background:url("../images/frame_page1_right.png") no-repeat;
					&.right{
						opacity:0;
						right:40px;
					}
				}
				.ss__page2{
					@extend .ss__page1;
					background:url("../images/frame_page2.png") repeat-x;
				}
				.ss__page3{
					@extend .ss__page1;
					background:url("../images/frame_page3.png") repeat-x;
				}
				.ss__page4{
					@extend .ss__page1;
					background:url("../images/frame_page2.png") repeat-x;
				}
		}	
	}
}
.page1__wrapper{
	position: relative !important;
	min-width:100%;
	height:100vh !important;
	margin:0 0 0 0;
	text-align:center;
	// border-bottom:0vh solid #fff;
	background:url("../images/page1--bg.jpg") no-repeat;
	background-attachment: fixed !important;
	background-position: top center !important; 
	background-size: cover !important;
	background-color:#ff6633;
	// z-index:10;
		.page1{
			position: relative;
			display: inline-block;
			height:100vh;
			// width: 960px;
			margin:0 0;
			text-align:left;
				.description__page{
					@include transform (translateY(-50%));
					position:relative;
					top:50%;
					width:585px;
					div{
						@include delay(1s all);
						h1{
							color:#fff;
							text-shadow: 0px 1px 3px #777;
								font{
									color:#ff6633;
									font-weight:800;
									text-decoration: underline;
									text-shadow: 0px 1px 1px #000;
								}
						}
						&.desc{
							@include delay(1s all);
							p{
								width:80%;
								text-shadow: 0px 1px 3px #444;
								text-shadow:none;							
							}
						}
					}
					.newsletter{
						@include delay(1s all);
						display: inline-block;
						margin-top:20px;
					}					
				}
				// .ss__page{
				// 	display: inline-block;
				// 	float:right;
				// 	text-align:center; 
				// 	width:42%;
				// 	margin:0 0 0 0;
				// 	position: fixed;
				// 	top: 50%;
				// 	@include transform (translate(-50%, -50%));
				// 	right:50%;left:50%;
				// 		img{
				// 			max-width:100%;
				// 			height:auto;
				// 		}
				// }
			
		}
}
.page2__wrapper{
	@extend .page1__wrapper;
	min-width:100%;
	height:100vh;
	background:#fff;
	// z-index:20;
		.page2{
			@extend .page1;
				.description__page{
					min-height: 400px;
					div{
						h1{
							color:#424242;
							text-shadow: none;
								// font{
								// 	color:#ff6633;
								// }
						}
						p{
							color:#797970;
							text-shadow: none;

						}
					}						
				}
				// .ss__page{

				// }
			
		}
}
.page3__wrapper{
	@extend .page1__wrapper;
	background:#ff6633;
	// z-index:30;
		.page3{
			@extend .page1;
				.description__page{
					min-height: 400px;
					div{
						h1{
							color:#424242;
							text-shadow: none;
								font{
									color:#fff;
								}
						}
						p{
							color:#6B2A11;
							text-shadow: none;

						}
					}
				}
				// .ss__page{

				// }
			
		}
}
.page4__wrapper{
	@extend .page2__wrapper;
	background:#fff;
	// z-index:40;
		.page4{
			@extend .page2;
				.description__page{
					min-height: 400px;
				}
				// .ss__page{
				// }			
		}
}
.page5__wrapper{
	@extend .page1__wrapper;
	background:#272625;
	// z-index:50;
		.page5{
			@extend .page1;
				.description__page{
					min-height: 400px;
						p{
							color:#797970;
						}
				}
				// .ss__page{
				// }
		}
}
/** responsive **/

/* (0px above)----------- */
@media only screen 
and (min-width : 0px) {
	.ss__wrapper{
		width: 87%;
	}
	.page1{
		width: 90%;
	}
}

/* (480px above)----------- */
@media only screen 
and (min-width : 480px) {
}

/* (768px above)----------- */
@media only screen 
and (min-width : 768px) {
}

/* (1024px above)----------- */
@media only screen 
and (min-width : 1024px) {
	.ss__page{
		background-position: 135px !important;
		.ss__page1{
			background-position: 135px !important;
		}
	}
}

/* (1360px above)----------- */
@media only screen 
and (min-width : 1360px) {
	.ss__wrapper{
		width: 960px;
	}
	.ss__page{
		background-position: -92px !important;
		.ss__page1{
			background-position: -92px !important;
		}
	}
	.page1{
		width:960px;
	}
}

/* (1440px above)----------- */
@media only screen 
and (min-width : 1440px) {
	.ss__page{
		background-position: -53px !important;
		.ss__page1{
			background-position: -53px !important;
		}
	}
	.page1{
		width:960px;
	}
}

/* (1680px above)----------- */
@media only screen 
and (min-width : 1680px) {
	.ss__page{
		background-position: 68px !important;
		.ss__page1{
			background-position: 68px !important;
		}
	}
	.page1{
		width:960px;
	}
}

/* (1900px above)----------- */
@media only screen 
and (min-width : 1900px) {
	.ss__page{
		background-position: -187px !important;
		.ss__page1{
			background-position: -187px !important;
		}
	}
}